body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 10px auto 0; 
}

.search-box {
    background-color: #eeeeee;
    width: 1200px;
    margin: auto;
    text-align: center;
}

.card {
    text-align: center;
    float: left;
    height: 78px;
    margin: 2px;
}

.box1 {
    background-color: #7ee5da;
    margin-left: 83px;
    width: 420px;
    padding: 10px;
}

.box2 {
    background-color: #70ccc2;
    width: 230px;
    padding: 10px;
    font-size: 13px;
}

.box3 {
    background-color: #62b3aa;
    width: 480px;
    padding: 10px;
    font-size: 13px;
}

p {
    font-size: 13px;
    text-align: center; 
    margin: 10px;
}